.app {
  background: var(--white-color);
  font-family: var(--pry-font-family);
}

.app_container {
  width: 100%;
  min-height: 70vh;

  padding: 4rem 3rem 0;

  display: flex;
  flex-direction: row;
}

.app_flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-text {
  font-size: 2rem;
  font-family: var(--sec-font-family);
  font-weight: 700;

  @media screen and (min-width: 2000px) {
    font-size: 2.5rem;
  }
}

.bold-text {
  font-size: 2rem;
  text-transform: capitalize;
  font-family: var(--sec-font-family);
  font-weight: 600;

  @media screen and (min-width: 2000px) {
    font-size: 2.5rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.25rem;
  }
}